@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    GrameenPhone<br />
    Bosundhora R/A<br />
    <abbr title="Phone">P:</abbr>
    017110171101
</address>

